adf2/pipeline/STG_ExchangeRate.json
{
	"name": "STG_ExchangeRate",
	"properties": {
		"activities": [
			{
				"name": "Get ExRates to JSON file",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET"
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "RestResource",
						"type": "DatasetReference",
						"parameters": {
							"DateFrom": {
								"value": "@variables('DateFrom')",
								"type": "Expression"
							},
							"DateTo": {
								"value": "@variables('DateTo')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "Json",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Get JSON files to parse",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Get ExRates to JSON file",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": false,
							"wildcardFileName": "*.json",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "Json",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Parse JSON files to SQL table",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Get JSON files to parse",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[exRatesJSONtoTable]",
					"storedProcedureParameters": {
						"JSON": {
							"value": {
								"value": "@string(activity('Get JSON files to parse').output.value)",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Move JSON file to archive",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Parse JSON files to SQL table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": false,
							"wildcardFileName": "*.json",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "Json",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Arch",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Get Last Data Load",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[getLastLoadDate]",
					"storedProcedureParameters": {
						"Area": {
							"value": {
								"value": "@string(pipeline().Pipeline)",
								"type": "Expression"
							},
							"type": "String"
						},
						"DateFrom": {
							"value": {
								"value": "@variables('DateFrom')",
								"type": "Expression"
							},
							"type": "String"
						},
						"DateTo": {
							"value": {
								"value": "@variables('DateTo')",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Delete JSON in active directory",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "Move JSON file to archive",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Json",
						"type": "DatasetReference"
					},
					"logStorageSettings": {
						"linkedServiceName": {
							"referenceName": "AzureDataLakeStorage1",
							"type": "LinkedServiceReference"
						},
						"path": "storage/ExRates/ARCH"
					},
					"enableLogging": true,
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"wildcardFileName": "*.json",
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "Set Last Data Load",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Parse JSON files to SQL table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[setLastLoadDate]",
					"storedProcedureParameters": {
						"Area": {
							"value": {
								"value": "@variables('Area')",
								"type": "Expression"
							},
							"type": "String"
						},
						"Date": {
							"value": {
								"value": "@variables('DateTo')",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get Last Data Load",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "DateTo",
					"value": {
						"value": "@activity('Get Last Data Load').output.DateTo",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"DateFrom": {
				"type": "String"
			},
			"DateTo": {
				"type": "String"
			},
			"Area": {
				"type": "String"
			}
		},
		"annotations": []
	}
}